*{
	/*margin:0;
	padding: 0;*/
}
ul{
	list-style: none;
}
ul li{
	float: left;
	position: relative;
	padding-right: 1px;

}
ul li a{
	text-decoration: none;
	background-color: #69c;
	color: #fff;
	width: 150px;
	height: 50px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
ul li a:hover{
	background-color: #09c;
}
ul li> ul{
	display: none
;	position: absolute;
}
li:hover>ul{
	display: block;
}
ul li>ul li{
	padding-top: 1px;
}
